<h1>Burger Time!</h1>

<div class="parent-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Burgers Ready To Be EATEN!</h2>

                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burgers-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Eaten Burgers</h2>

                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burgers-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<h2>Create your own burger.</h2>
<form class="create-burger">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="name" name="burger_name">
    </div>

    <button type="submit">Add Your Burger Creation!</button>
</form>