<div class="container">
    <h1 class="justify-content-center arcade">Burger Arcade!</h1>
</div>
<div class="container justify-content-between">

    <div class="row">
        <div class="col-md-4">
            <h2>Burgers Ready To Be EATEN!</h2>
            //On load, all of the burgers will be in this column, unless they have been devoured.
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burgers-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Eaten Burgers</h2>
            //If the burger has been devoured, then it will show up in the eaten burgers column.
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burgers-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>

        //The third column allows you to create a burger.  
        //User will enter the label of their burger and then click Add Your Burger Creation to add that burger
        //to the first column.
        <div class="col-md-4">
            <h2>Create your own burger.</h2>
            <form class="create-burger ">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="name" name="burger_name">
                </div>

                <button class="btn-info" type="submit">Add Your Burger Creation!</button>
            </form>
        </div>
    </div>
</div>