body{
    align-content:center;
    background-image: url("../img/NeonPacman.png");
    color: white;
    font-family: 'Righteous', cursive;
}

img{
    height:130px;
    width:130px;
}

.arcade{
    font-size:65px;
}
