<li>
	//Inside each list item burger, there is the burger name and then the button
	//The text value of the button will conditionally be impacted based on the boolean value of devoured.
	//if devoured then "All Gone! Burp" is displayed, otherwise the label will say "Devour".
	{{burger_name}}

	<button class="change-devoured btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}All Gone! Burp!{{/if}}
	</button>

</li>